---
layout: default
---
<header id="profile-card">
  <div class="box" id="avatar">
    <div class="flex-row">
      <h1>{{ site.author.name }}</h1>
      {% include theme-switcher.html %}
    </div>
    <figure >
      <img src="assets/images/avatar.png"/>
    </figure>
  </div>
  <p id="about">{{ site.author.about }}</p>
</header>
<main>
  <ul id="linktree">
  {% for link in site.data.links %}
    <li class="box">
      <a href="{{ link.url }}">
        {{ link.icons.default }} {{ link.name | capitalize }}
      </a>
    </li>
  {% endfor %}
  </ul>
</main>
