@use 'default_colors';
@use 'default_typography';

$avatar-size: 150px;

body {
  background-color: #B7FFFA;
  margin: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.8rem;
  margin: 0px;
}

#avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  gap: 8px;

  width: 90vw;
  margin: 8px;
  padding: 8px;

  background-color: rgba($color: #00008B, $alpha: .8);
  border-radius: 16px;
  color: white;

  img {
    border-radius: 9999px;
    height: $avatar-size;
    height: $avatar-size;
  }

  @media (min-width: 640px) {
    width: 3*$avatar-size;
  }

  @media (min-width: 768px) {
  }
  @media (min-width: 1024px) {
  }
  @media (min-width: 1280px) {
  }
  @media (min-width: 1536px) {
  }
}

#about {
  display: none;
}

#linktree {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: $avatar-size;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 3*$avatar-size;
  
  li {
    background-color: rgba($color: #00008B, $alpha: .8);
    list-style: none;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
    
    &:hover {
      transform: scale(1.1);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 10rem;
      margin-right: 10rem;
      color: white;
      text-decoration: none;
    }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

