<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{{ site.author.short_name }}'s linktree</title>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css"/>
  </head>
  <body>
    {{ content }}
    {% include footer.html %}
    <script src="{{ site.url }}/assets/js/setterTheme.js"></script>
  </body>
</html>

